__pycache__/
.DS_STORE
*.gz
automation/xtb_new.inp
heme_redox_project/*.log
heme_redox_project/*.ipynb
heme_redox_project/database/logfiles/
heme_redox_project/database/logfilessplit/
heme_redox_project/tables/df*.csv
heme_redox_project/tables/.*.csv#
heme_redox_project/hemejpn/*
heme_redox_project/database/pdb/*
!heme_redox_project/database/pdb/prepared/*.pdb
!heme_redox_project/database/pdb/prepared2/*.pdb
master_git_key.txt
master_git_key.pub
#PDB/*
charmm_wcuda12.yml
Heme_example.png
molecule.pdb
pyCHARMM-Workshop/
MasterThesis/
PosterHeme.pptx
*pdf
B3LYP/
Benchmark/
*.xlsx
pdbparser_0.log
Protonierung/
XTB/
learn.py
heme_redox_project/
logs/report_*.json

#exclude whole table as it is too large -> figure out a way to provide this later on. Maybe zip it?
tables/DB.csv
DB.csv

#exclude cluster files as they are too large
sample_calc/
# Exclude large Gaussian checkpoint files and calculation logs
*.chk
#do not exclude logfiles as they carry the results of the calculations
#automation_xtb_apfd/**/*.log
#automation_xtb_uapfd/**/*.log
fort.7
# Exclude SLURM output files
automation_xtb_apfd/**/slurm-*.out
automation_xtb_uapfd/**/slurm-*.out

PDB/**/jittered/
PDB/**/jittered/**
